* {
  color: rgb(65, 150, 183);
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #ffffff;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 1200px;
  margin: 0 auto 0 auto;
  background: #fff;
}

.wrapper-footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 1200px;
  margin: 0 auto 0 auto;
  background: #ffffff;
}

.text-footer {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 10px;
  color: #595959;
}

aside {
  width: 370px;
  background: #2f1423f2;
  height: auto;
}

.cv-photo {
  border: transparent;
  margin-top: 10px;

  width: 250px;
  height: 130px;

  object-fit: contain;
}

.header-secondary {
  color: #ffffff;
}

.underline {
  border-bottom: 3px solid #fff;
  width: auto;
  margin-right: 20px;
}

.contact-links {
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  line-height: 24px;
}

.bold {
  font-weight: 700;
}

.list-secondary {
  font-size: 13px;
  line-height: 24px;
  margin-left: 0px;
  padding-left: 0px;
  list-style-position: inside;
}

.list-third {
  list-style: none;
}

.list-third-item {
  font-size: 13px;
  line-height: 24px;
  margin-left: -40px;
  padding-left: 0px;
  list-style-position: inside;
}

.list-secondary-item {
  color: #ffffff;
}

.contact-block {
  margin-left: 20px;
}

.skills-block {
  margin-left: 20px;
}

.education-block {
  margin-left: 20px;
}

.licences-block {
  margin-left: 20px;
}

.languages-block {
  margin-left: 20px;
}

.interest-block {
  margin-left: 20px;
}

main {
  padding: 10px 100px 10px 100px;
  height: auto;
}

.main-description {
  width: 700px;
}

.job-title {
  font-size: 13px;
  font-weight: 700;
  line-height: 17px;
  border-bottom: 4px solid;
  padding-bottom: 5px;
}

.underline {
  border-bottom: 4px solid;
  padding-bottom: 5px;
}

h1 {
  font-size: 35px;
  font-weight: 700;
  line-height: 55px;
  margin: 0px;
}

h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.description {
  color: #595959;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-align: justify;
}

.projects {
  width: 700px;
}

.list-primary {
  font-size: 13px;
  font-weight: 700;
  line-height: 24px;
  padding-left: 0;
  list-style-position: inside;
  display: flex;
  flex-direction: column;
}

.list-primary li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.list-primary-item {
  color: #595959;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
  text-align: right;
}

.border {
  font-size: 4px;
  color: #ffffff;
  border-bottom: dashed 1px #a8a8a8;
}

.header-primary {
  padding-top: 10px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
}

.job-name {
  font-size: 15px;
  font-weight: 700;
}

.highlight {
  color: #fb6d3a;
}

.job-date {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 5px;
}

.job-list {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: justify;
  margin-top: 5px;
}

.education {
  margin-top: 20px;
}

.university {
  color: #fb6d3a;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
}

.other {
  color: #ffffff;
  font-size: 13px;
  line-height: 24px;
  padding-right: 30px;
}

.projects-description {
  display: flex;
  margin: 0px;
}

.project-item {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.list-primary-text {
  font-weight: 700;
}

.linkedin-icon {
  fill: #0077b5;
  margin-top: 15px;
  margin-left: 15px;
}

.github-icon {
  fill: #0077b5;
  /* margin-top: 15px;
    margin-left: 15px; */
}
